@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/ptsans-400.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/ptsans-700.woff2') format('woff2');
    font-display: swap;
}

html {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    background-color: #E5E5E5;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #FFFFFF;
    color: #000000;
    width: 1200px;
    margin: 0;
    padding: 0 40px;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button, input, select, option, textarea {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.main-container {
    flex-grow: 1;
}

/* Хедер */

.navigation {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    justify-content: space-between;
    padding: 0 69px 0 59px;
}

.logo {
    order: 2;
    margin: 0 auto;
    margin-bottom: -5px;
    z-index: 1;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    order: 1;
    width: 333px;
}

.navigation-user {
    order: 3;
    justify-content: flex-end;
}

.navigation-link-container {
    height: 65px;
}

.navigation-item {
    margin-right: 9px;
    padding: 7px 9px 9px;
    border: 3px solid transparent;
}

.navigation-item:hover {
    color: rgba(117, 98, 87, 1);
}

.navigation-user-link:hover .navigation-icon {
    fill: rgba(117, 98, 87, 1);
}

.navigation-user-item:last-child:hover {
    background-color: rgba(97, 80, 72, 1);
}

.navigation-item:focus-within,
.navigation-user-item:focus-within {
    border: 3px solid rgba(131, 179, 211, 1);
    border-radius: 10px;
    color: rgba(117, 98, 87, 1);
}

.navigation-user-item:last-child:focus-within  {
    background-color: rgba(97, 80, 72, 1);
}

.navigation-user-link:focus-within .navigation-icon {
    fill: rgba(117, 98, 87, 1);
}

.navigation-item:active,
.navigation-user-item:not(:last-child):active {
    opacity: 0.3;
    border: none;
}

.navigation-user-item:last-child:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(117, 98, 87, 1);
}


.navigation-item-current {
    border-bottom: 2px solid rgba(117, 98, 87, 1);
}

.navigation-user-item {
    margin-right: 23px;
    position: relative;
    border: 3px solid transparent;
}

.navigation-user-item:first-child {
    margin-right: 1px;
}

.navigation-item:last-child,
.navigation-user-item:last-child {
    margin-right: 0;
}

.navigation-user-item:not(:last-child) {
    width: 31px;
    height: 31px;
}

.navigation-link {
    color: inherit;
    text-decoration: none;
    margin: 0;
    outline: none;
}

.navigation-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    fill: #000000;
}

.navigation-user-item:last-child {
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    background-color: #756257;
    color: #FFFFFF;
    width: 160px;
    height: 37px;
    border-radius: 4px;
    text-align: center;
}

.navigation-user-link:last-child {
    display: inline-block;
    padding: 0.5rem 2rem;
}

/* Анонс */

.intro-title, 
.hotel-booking-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.intro-subtitle {
    font-size: 22px;
    line-height: 36px;
}

.intro-text {
    height: 282px;
    padding: 63px 240px 79px;
    text-align: center;
}

.intro::before {
    content: '';
    display: block;
    width: 1200px;
    height: 485px;
    background: 
    url('../img/divider.svg') 0 100% no-repeat, 
    url('../img/welcome.svg') 50% 50% no-repeat, 
    url('../img/intro-background.jpg');
}

/* Список преимуществ */

.advantages-list-item:last-child,
.unordered-item {
    width: 400px;
    height: 384px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
}

.advantages-list-unordered {
    display: flex;
}

.advantages-list-item {
    display: block;
}

.advantages-list-item-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 25px;
    width: 180px;
    text-align: center;
}

.advantages-list-item-description {
    text-align: center;
}

.first-advantage {
    background-color: #83B3D3;
    color: #FFFFFF;
    height: 384px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first-advantage::after {
    content: '';
    width: 800px;
    height: 384px;
    background: url('../img/open-range.jpg') no-repeat;
}

.first-advantage-container,
.second-advantage-container,
.advantages-list-item-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 384px;
}

.advantages-list-item-description {
    width: 250px;
}

.list-item-description-narrow {
    width: 220px;
}

.second-advantage {
    width: 1200px;
    height: 384px;
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    background-color: #83B3D3;
}

.second-advantage::before {
    content: '';
    width: 800px;
    height: 384px;
    background: url('../img/devils-bridge.jpg') no-repeat;
}

.unordered-item {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description-unordered {
    margin: 0;
}

.list-item-light-fill {
    background-color: rgba(131, 179, 211, 0.12);
}

.list-item-dark-fill {
    background-color: rgba(131, 179, 211, 0.2);
}

.unordered-item:first-child::before {
    content: '';
    display: inline-block;
    width: 80px;
    height: 80px;
    background: url('../img/accommodations.svg') no-repeat;
    margin-bottom: 23px;
}

.unordered-item:not(:first-child):not(:last-child)::before {
    content: '';
    display: inline-block;
    width: 80px;
    height: 80px;
    background: url('../img/eats.svg') no-repeat;
    margin-bottom: 23px;
}
.unordered-item:last-child::before {
    content: '';
    display: inline-block;
    width: 80px;
    height: 80px;
    background: url('../img/souvenirs.svg') no-repeat;
    margin-bottom: 23px;
}

/* Блок ведущий к поиску гостиниц */

.hotel-booking-container {
    margin: 91px 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hotel-booking-instruction {
    font-size: 22px;
    line-height: 26px;
}

.hotel-search-button {
    display: inline-block;
    width: 575px;
    height: 60px;
    box-sizing: border-box;
    border: 3px solid transparent;
    border-radius: 10px;
    text-align: center;
    padding-top: 18px;
    background-color: #756257;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color:#FFFFFF;
}

.hotel-search-button:hover {
    background-color: rgba(97, 80, 72, 1);
}

.hotel-search-button:focus {
    border: 3px solid rgba(131, 179, 211, 1);
    background-color: rgba(97, 80, 72, 1);
    border-radius: 10px;
}

.hotel-search-button:active {
    border: 3px solid transparent;
    color: rgba(255, 255, 255, 0.3);
}

/* Блок подписки на рассылку */

.newsletter-container {
    display: grid;
    grid-template-columns: 200px 600px 200px 200px;
    grid-template-rows: 94px 65px 98px 61px 93px;
}

.newsletter {
    background-image: url('../img/index-newsletter-background.jpg');
}

.newsletter-title {
    grid-area: 2 / 2 / 3 / 4;
    margin: 0;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color:#FFFFFF;
    text-align: center;
}

.newsletter-info {
    grid-area: 3 / 2 / 4 / 4;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    width: 470px;
    margin: 0;
    justify-self: center;
    text-align: center;
}

.newsletter-form {
    grid-area: 4 / 2 / 5 / 4;
}

.subscription-button {
    display: inline-block;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #83B3D3;
    border: 3px solid transparent;
    width: 200px;
    border-radius: 0 10px 10px 0;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}

.subscription-button:hover {
    background-color: rgba(104, 162, 202, 1);
}

.subscription-button:focus {
    background-color: rgba(104, 162, 202, 1);
    border: 3px solid rgba(117, 98, 87, 1);
}

.subscription-button:active {
    color: rgba(255, 255, 255, 0.3);
}

.newsletter-form {
    display: flex;
}

.email-input {
    flex-grow: 1;
    border-radius: 10px 0 0 10px;
    border: none;
    padding: 0 19px 0 22px;
    font-size: 18px;
    line-height: 26px;
    outline: none;
}

.email-input:hover {
    background-color: rgba(229, 229, 229, 1);
}

.email-input:focus {
    border: 3px solid rgba(131, 179, 211, 1);
}

.email-input:active {
    border: 2px solid rgba(0, 0, 0, 1);
}

.email-input-error {
    border: 2px solid rgba(255, 87, 87, 1);
}

/* Футер */

.page-footer {
    display: flex;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    padding: 0 72px;
}

.social-media-item {
    display: inline-block;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 3px solid transparent;
    border-radius: 10px;
    margin-right: 3px;
    position: relative;
}

.link-social {
    outline: none;
}

.social-icon {
    fill: rgba(131, 179, 211, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.link-social:hover .social-icon,
.link-social:focus .social-icon {
    fill: rgba(104, 162, 202, 1);
}

.social-media-item:focus-within {
    border: 3px solid rgba(131, 179, 211, 1);
    border-radius: 10px;
}

.link-social:active .social-icon {
    fill: rgba(104, 162, 202, 0.3);
}

.social-media-item:active {
    border: 3px solid transparent;
}

.social-media-item:last-child {
    margin-right: 0;
}

.social-media-list {
    display: flex;
    flex-wrap: wrap;
}

.phone-number-link {
    display: inline-block;
    width: 361px;
    height: 50px;
    box-sizing: border-box;
    border: 3px solid transparent;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
    outline: none;
}

.phone-number-link:hover {
    color: rgba(117, 98, 87, 1);
}

.phone-number-link:focus {
    color: rgba(117, 98, 87, 1);
    border: 3px solid rgba(131, 179, 211, 1);
}

.phone-number-link:active {
    color: rgba(117, 98, 87, 0.3);
    border: 3px solid transparent;
}

.credits {
    display: inline-block;
    width: 160px;
    height: 70px;
    box-sizing: border-box;
    border: 3px solid transparent;
    outline: none;
    position: relative;
}

.credits-logo {
    fill: #000000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.credits:hover .credits-logo {
    fill: rgba(117, 98, 87, 1);
}

.credits:focus {
    border: 3px solid rgba(131, 179, 211, 1);
    border-radius: 10px;
}

.credits:focus .credits-logo {
    fill: rgba(117, 98, 87, 1);
}

.credits:active .credits-logo {
    fill: rgba(117, 98, 87, 0.3);
}

.credits:active {
    border: 3px solid transparent;
}

/* Страница каталога */

/* Блок фильтров */

.filter-products {
    width: 1200px;
    background: url('../img/catalog-background.jpg') no-repeat;
    display: grid;
    grid-template-columns: 71px 1fr 72px;
    grid-template-rows: 35px 94px 45px 151px 83px;
}

.inner-header {
    grid-area: 2 / 2 / 3 / 3;
    margin: 0;
}

.filter-products-form {
    grid-area: 4 / 2 / 5 / 3;
    display: grid;
    grid-template-columns: 150px 66px 146px 166px 288px 81px 160px;
}

.filter-products-group {
    border: none;
    margin: 0;
    padding: 0;
}

.filter-products-group:first-child {
    grid-column: 1 / 2;
}

.filter-products-group:not(:first-child):not(:last-of-type) {
    grid-column: 3 / 4;
}

.filter-products-group:last-of-type {
    grid-column: 5 / 6;
}

.filter-buttons-container {
    grid-column: 7 / 8;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.label-container,
.pricing-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.filter-products-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #FFFFFF;
}

.control-label,
.input-container {
    color: white;
}

.control:not(:last-child) {
    margin-bottom: 13px;
}

.submit-button {
    display: inline-block;
    width: 160px;
    height: 48px;
    margin-bottom: 20px;
    background-color: #83B3D3;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.submit-button:hover {
    background-color: rgba(104, 162, 202, 1);
}

.submit-button:focus {
    background-color: rgba(104, 162, 202, 1);
    border: 3px solid rgba(255, 255, 255, 1);
}

.submit-button:active {
    background-color: rgba(104, 162, 202, 1);
    border: 3px solid transparent;
    color: rgba(255, 255, 255, 0.3);
}

.reset-button {
    display: inline-block;
    width: 100px;
    height: 32px;
    box-sizing: border-box;
    border: 3px solid transparent;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.reset-button:hover {
    color: rgba(255, 255, 255, 0.6)
}

.reset-button:focus {
    border: 3px solid rgba(131, 179, 211, 1);
}

.reset-button:active {
    border: 3px solid transparent;
    color: rgba(255, 255, 255, 0.3);
}
 
.inner-header-title {
    margin: 0;
    font-size: 60px;
    color: #FFFFFF;
    line-height: 78px;
    font-weight: 700;
}

.breadcrumbs {
    font-size: 16px;
    line-height: 21px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    list-style-type: none;
}

.breadcrumbs-home-icon {
    fill: rgba(255, 255, 255, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.breadcrumbs::before {
    content: '';
    width: 5px;
    height: 21px;
    background: url('../img/breadcrumbs_arrow.svg') 50% 50% no-repeat;
    order: 2;
    margin: 0px 10px;
}

.breadcrumbs-item:first-child {
    order: 1;
    width: 28px;
    height: 27px;
    box-sizing: border-box;
    border: 3px solid transparent;
    position: relative;
}

.breadcrumbs-item:last-child {
    order: 3;
    width: 89px;
    height: 27px;
    box-sizing: border-box;
    border: 3px solid transparent;
    border-radius: 4px;
    position: relative;
}

.breadcrumbs-link:hover .breadcrumbs-home-icon {
    fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:hover {
    color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-item:focus-within {
    border: 3px solid rgba(131, 179, 211, 1);
    border-radius: 4px;
}

.breadcrumbs-link:active .breadcrumbs-home-icon {
    fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item:active {
    border: 3px solid transparent;
}

.breadcrumbs-link {
    color: #FFFFFF;
    text-decoration: none;
    outline: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.catalog-page-controls {
    display: flex;
    align-items: center;
    padding: 50px 72px;
}

.result-preview-output {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 39px;
}

.search-result-preview {
    margin-right: 190px;
}

.select-sorting {
    width: 287px;
    margin-right: 81px;
}

.catalog-style {
    display: flex;
    flex-wrap: wrap;
}

.catalog-style-item {
    width: 48px;
    height: 48px;
    margin-right: 8px;
    border: 2px solid rgba(229, 229, 229, 1);
    border-radius: 4px;
    box-sizing: border-box;
}

.catalog-style-item:hover,
.catalog-style-item:focus-within {
    border: 2px solid rgba(131, 179, 211, 1);
}

.catalog-style-item:active,
.catalog-style-item-current {
    border: 2px solid #000000;
}


.view-button {
    outline: none;
}

.style-item-cards {
    background: url('../img/mode-tile.svg') 50% 50% no-repeat;
}

.style-item-slider {
    background: url('../img/mode-slideshow.svg') 50% 50% no-repeat;
}

.style-item-list {
    background: url('../img/mode-list.svg') 50% 50% no-repeat;
}

.catalog-style-item:last-child {
    margin-right: 0;
}

.result-preview-output {
    font-size: 30px;
    line-height: 39px;
    font-weight: 700;
}

.item-card {
    border-top: 1px solid #E5E5E5;
    display: grid;
    grid-template-columns: 71px 181px 36px 680px 160px 72px;
    grid-template-rows: 28px 1fr 30px;
}

.item-card:last-child {
    border-bottom: 1px solid #E5E5E5;
}

.hotel-image-preview {
    grid-area: 2 / 2 / 3 / 3;
    display: inline-block;
    width: 180px;
    height: 120px;
    border: 3px solid transparent;
    cursor: pointer;
}

.hotel-image-preview:hover {
    opacity: 0.6;
}

.hotel-image-preview:focus {
    border: 3px solid rgba(131, 179, 211, 1);
    outline: none;
}

.hotel-image-preview:active {
    border: 3px solid transparent;
    opacity: 0.3;
}

.info-booking {
    grid-area: 2 / 4 / 3 / 5;
}

.level {
    grid-area: 2 / 5 / 3 / 6;
}

.hotel-card-title {
    font-size: 24px;
    line-height: 31px;
    font-weight: 700;
    margin: 0;
}

.hotel-card-title-link {
    text-decoration: none;
    display: inline-block;
    color: #000000;
    outline: none;
}

.hotel-card-title-link:hover {
    color: rgba(117, 98, 87, 1);
}

.hotel-card-title-link:focus {
    padding: 7px 12px;
    border: 3px solid rgba(131, 179, 211, 1);
    border-radius: 10px;
}

.hotel-card-title-link:active {
    border: none;
    padding: 0;
    color: rgba(117, 98, 87, 0.3);
}

.hotel-card-hints {
    margin-bottom: 31px;
}

.hotel-type {
    margin-right: 78px;
}

.hotel-card-buttons {
    display: flex;
}

.to-wishlist-button {
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    background-color: #83B3D3;
    border-radius: 4px;
    border: 3px solid transparent;
    width: 160px;
    height: 37px;
    margin-right: 8px;
    outline: 0;
    cursor: pointer;
}

.to-wishlist-button:hover {
    background-color: rgba(104, 162, 202, 1);
    border: 1px solid rgba(117, 98, 87, 1);
}

.to-wishlist-button:focus {
    background-color: rgba(104, 162, 202, 1);
    border: 3px solid rgba(117, 98, 87, 1);
}

.to-wishlist-button:active {
    border: 1px solid rgba(117, 98, 87, 1);
    color: rgba(255, 255, 255, 0.3);
}

.wishlist-added {
    display: inline-block;
    color: #FFFFFF;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    box-sizing: border-box;
    width: 151px;
    height: 37px;
    text-align: center;
    padding: 5px 0 5px 0;
    background-color: rgba(125, 181, 79, 1);
    border-radius: 4px;
    border: 3px solid transparent;
    text-decoration: none;
    margin: 0;
}

.wishlist-added:hover {
    background-color: rgba(108, 158, 66, 1);
}

.wishlist-added:focus {
    background-color: rgba(108, 158, 66, 1);
    border: 3px solid rgba(117, 98, 87, 1);
}

.wishlist-added:active {
    background-color: rgba(108, 158, 66, 1);
    border: 3px solid transparent;
    color: rgba(255, 255, 255, 0.3);
}

.details {
    display: inline-block;
    color: #FFFFFF;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    box-sizing: border-box;
    width: 151px;
    height: 37px;
    text-align: center;
    padding: 5px 0 5px 0;
    background-color: #756257;
    border-radius: 4px;
    border: 3px solid transparent;
    text-decoration: none;
    margin: 0;
    margin-right: 2px;
}

.details:hover {
    background-color: rgba(97, 80, 72, 1);
}

.details:focus {
    background-color: rgba(97, 80, 72, 1);
    border: 3px solid rgba(131, 179, 211, 1);
}

.details:active {
    background-color: rgba(97, 80, 72, 1);
    border: 3px solid transparent;
    color: rgba(255, 255, 255, 0.3);
}

.rating {
    display: inline-block;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 21px;
    width: 160px;
    height: 37px;
    background-color: #F2F2F2;
    border-radius: #F2F2F2;
    border: none;
    text-align: center;
    padding: 9px 0 10px 0;
}

.stars {
    margin-bottom: 60px;
}

.four-stars::before {
    content: '';
    display: inline-block;
    background: url('/img/fours-stars.svg') 50% no-repeat;
    width: 160px;
    height: 20px;
}

.three-stars::before {
    content: '';
    display: inline-block;
    background: url('/img/three-stars.svg') 50% no-repeat;
    width: 160px;
    height: 20px;
}

.two-stars::before {
    content: '';
    display: inline-block;
    background: url('/img/two-stars.svg') 50% no-repeat;
    width: 160px;
    height: 20px;
}

.pagination {
    display: flex;
}

.pagination-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination-link {
    display: inline-block;
    width: 55px;
    height: 55px;
    margin: 7px;
    background-color: #83B3D3;
    border-radius: 4px;
    border: 3px solid transparent;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;   
    box-sizing: border-box;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    outline: none;
}

.pagination-link:hover {
    background-color: rgba(104, 162, 202, 1);
}

.pagination-link:focus {
    border: 3px solid rgba(117, 98, 87, 1);
    background-color: rgba(104, 162, 202, 1);
}

.pagination-link:active {
    border: 3px solid transparent;
    color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
    background-color: rgba(242, 242, 242, 1);
    color: #000000;
}

.pagination-current:hover {
    background-color: rgba(242, 242, 242, 1);
}

.pagination-current:focus {
    border: 3px solid rgba(117, 98, 87, 1);
    background-color: rgba(242, 242, 242, 1);
}

.pagination-link:active {
    border: 3px solid transparent;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(242, 242, 242, 1);
}

.show-more-block {
    height: 116px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-more {
    display: inline-block;
    width: 625px;
    height: 55px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    background-color: #83B3D3;
    outline: none;
    cursor: pointer;
}

.show-more:hover {
    background-color: rgba(104, 162, 202, 1);
}

.show-more:focus {
    border: 3px solid rgba(117, 98, 87, 1);
    background-color: rgba(104, 162, 202, 1);
}

.show-more:active {
    border: 3px solid transparent;
    color: rgba(255, 255, 255, 0.3);
}

.preview-count-name {
    color: #000000;
}

.preview-number-select {
    width: 160px;
    height: 48px;
    margin-left: 51px;
}

.newsletter-catalog {
    background-image: none;
}

.email-input-catalog {
    background-color: #F2F2F2;
}

.newsletter-catalog-title,
.newsletter-catalog-info {
    color: #000000;
}





